<div class="main-card">
  <mat-card>
    <mat-card-header>
      <mat-toolbar class="nav1">
        <div class="nav-list"><img src='./assets/nalli.png' class="ulogo"></div>
        <div class="nav-list"><a mat-button routerLink="women">WOMEN </a></div>
        <div class="nav-list"> <a mat-button routerLink="men">MEN </a></div>
        <div class="nav-list"><a mat-button routerLink="home">HomeFashions </a></div>
        <div class="nav-list"> <a mat-button routerLink="offers">OFFERS </a></div>
        <div class="nav-list">
          
            
            <mat-form-field appearance="outline">
              <mat-icon  matPrefix>search</mat-icon> 
              <input matInput type="search"  placeholder="search">
              <mat-icon matSuffix >menu</mat-icon>

            </mat-form-field>
            
          
        </div>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content class="example-card">
      <router-outlet></router-outlet>

    </mat-card-content>
  </mat-card>

</div>