<div ><h2 style="display: inline-block;text-align: center;">MATERIALS</h2> 
    <button mat-button color="warn" (click)="itemList()" >CartList</button></div>
<mat-card> 
    <div style="display:flex ;background-color: darkgrey; gap: 14px;">
    <mat-card-content style="height: 300px;width: 150px; display:list-item;list-style: none;border:olivedrab solid 2px" *ngFor="let d of dressDesc">

        <img mat-card-image [src]="d.images" alt="Photo" style="padding-top: 10px; height:150px;width: 150px;">
        <mat-card-content style="margin-bottom: 0px;" >
            
            <p style="display:list-item ;line-height: 0px;">    name    :  {{d.name}}</p>
            <p style="display:list-item;line-height: 0px;">     category: {{d.category}}</p>
            <p style="display:list-item;line-height: 0px;">   price   :  {{d.price}}</p>
                <p style="display:list-item;line-height: 0px;">  brand   :{{d.brand}}</p>
           

        </mat-card-content>
        <mat-card-actions style="display:list-item; margin-bottom: 0px;">
            <button mat-button >LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
        <button mat-button color="primary" (click)="cartData(d)">AddToCart</button>
        
    </mat-card-content>
    </div>
</mat-card>